/* out */
.out {
    position: absolute;
    width: 88px;
    height: 52px;
    padding: 0;
    top: 14px;
    right: 0;
    background-color: white;
    border: none;
}

.out:before,
.out:after {
    content: "";
    position: absolute;
    top: 23px;
    left: 32px;
    width: 29px;
    height: 3px;
    background-color: black;

    transform: rotate(-45deg);
}

.out:after {
    transform: rotate(45deg);
}

/* out focus active*/

.out:focus,
.out:active {
    background-color: black;
}

.out:focus:before,
.out:active:before,
.out:focus:after,
.out:active:after{
    background-color: white;
}
